# --- Compilados de Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.pytest_cache/
.coverage
htmlcov/

# --- Entornos Virtuales (Virtual Environments) ---
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# --- Archivos específicos de Django ---
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# --- Variables de entorno y Secretos ---
.env
.env.local
.flaskenv

# --- Archivos del Sistema Operativo y Editores ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp