{% extends 'web/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'web/img/historia.png' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
<span class="section-heading-upper">Formando generaciones desde 1979</span>
<span class="section-heading-lower">Nuestra historia</span>
            </h2>
          <p style="text-align: justify;">
  El <b>Centro de Bachillerato Tecnológico Agropecuario No. 108 (CBTa No. 108)</b> inició sus actividades el <b>1 de octubre de 1979</b> en la localidad de <b>Villa Juárez, Nayarit</b>. Durante sus primeros años, las clases se impartieron en el edificio ejidal de la comunidad, mientras se realizaba la construcción de las instalaciones propias del plantel. La inauguración estuvo a cargo del señor <b>Octavio López Castillo</b>, quien además gestionó la donación de los terrenos destinados tanto a la construcción del centro educativo como a las prácticas agrícolas.
</p>

<p style="text-align: justify;">
  En sus inicios, la institución funcionó como <b>Centro de Estudios Tecnológicos Agropecuarios</b>, con el objetivo de brindar educación media superior enfocada en el desarrollo agropecuario de la región. Gracias al crecimiento de la demanda educativa y a las gestiones realizadas por las autoridades escolares y comunitarias, en <b>1982</b> se autorizó el <b>Bachillerato Bivalente</b>, convirtiéndose oficialmente en el <b>Centro de Bachillerato Tecnológico Agropecuario No. 108</b>. Asimismo, la infraestructura del plantel fue ampliándose mediante diversas etapas de construcción que incluyeron aulas, laboratorios, talleres especializados y áreas de producción agropecuaria.
</p>

<p style="text-align: justify;">
  A lo largo de más de cuatro décadas de servicio educativo, el CBTa No. 108 se ha consolidado como una de las instituciones más importantes de la región. En <b>1991</b> obtuvo la autorización para impartir educación abierta y, posteriormente, en <b>1997</b> se formalizó el <b>Sistema Abierto de Educación Tecnológica Agropecuaria (SAETA)</b>, ampliando las oportunidades de formación para jóvenes y adultos. Actualmente, el plantel continúa formando generaciones de estudiantes con una preparación académica y tecnológica de calidad, comprometidos con el desarrollo social, económico y agropecuario de Nayarit.
</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}